@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url(../assets/fonts/Ubuntu-Medium.ttf); }

.contenedor_general {
  background-image: linear-gradient(to right bottom, #ffc0cb, #febcd3, #f9b8dc, #f1b6e7, #e4b6f2);
  width: 100vw;
  height: 100%;
  font-family: 'ubuntu' , sans-serif; }

.header {
  width: 100%; }

.puppy {
  color: rgba(90, 8, 19, 0.781); }
  .puppy .contenido__video {
    align-self: center;
    padding: 10px;
    width: 80vw;
    height: 70vh;
    margin: 20px auto;
    border-radius: 10px; }

@media only screen and (min-width: 600px) {
  .contenido__video {
    height: 70vh;
    width: 70vw; } }

@media only screen and (min-width: 1200px) {
  .contenido__video {
    height: 80vh;
    width: 70vw; } }

.disenios {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .disenios .disenios__card {
    margin: 10px;
    padding: 10px; }
    .disenios .disenios__card .imgcard {
      width: 300px;
      height: 350px; }
      .disenios .disenios__card .imgcard:hover {
        transform: translate(0px, 0px) scale(1.03); }
      .disenios .disenios__card .imgcard .Contenedor-carrito {
        text-align: center; }

@media only screen and (min-width: 680px) {
  .disenios {
    flex-direction: row;
    flex-wrap: wrap; }
    .disenios .disenios__card {
      margin: 10px;
      padding: 10px; }
      .disenios .disenios__card .imgcard {
        width: 300px;
        height: 350px; }
        .disenios .disenios__card .imgcard:hover {
          transform: translate(0px, 0px) scale(1.03); }
        .disenios .disenios__card .imgcard .Contenedor-carrito {
          text-align: center; } }

.nosotros {
  margin-left: 07%; }

.Nosotros__contactos {
  margin: 10px;
  padding: 10px; }
  .Nosotros__contactos .tamaño-mapa {
    width: 40vh;
    height: 30vh; }

@media only screen and (min-width: 600px) {
  .Nosotros__contactos {
    margin: 10px;
    padding: 10px; }
    .Nosotros__contactos .tamaño-mapa {
      width: 85vh;
      height: 55vh; } }

@media only screen and (min-width: 1200px) {
  .Nosotros__contactos {
    margin: 10px;
    padding: 10px; }
    .Nosotros__contactos .tamaño-mapa {
      width: 90vh;
      height: 60vh; } }

.sesion {
  margin: 20px;
  padding: 20px; }
  .sesion .boton, .sesion .boton--iniciar, .sesion .boton--aceptar, .sesion .boton--cancelar {
    margin-top: 1vh; }
  .sesion .boton--iniciar {
    text-shadow: #b33b4f;
    color: #b33b4f;
    border: 1px solid black; }
  .sesion .boton--aceptar {
    text-shadow: green;
    color: green;
    border: 1px solid black; }
  .sesion .boton--cancelar {
    text-shadow: red;
    color: red;
    border: 1px solid black; }

.derechosres {
  text-align: center; }

.redes {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-right: 38px;
  animation: float infinite 4s ease-in-out; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
  .redes .redes__iconos {
    list-style: none;
    padding: 10px; }
    .redes .redes__iconos .wp {
      display: none; }

@media only screen and (min-width: 600px) {
  .wp {
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 50px; } }
