    .disenios {
        display: map-get($map-flex,flex);
        flex-direction: map-get($map-flex,column);
        text-align: map-get($map-flex,center);
           .disenios__card {
              margin: 10px;
              padding: 10px;
               .imgcard {
                 width: 300px;
                 @include mixinheight;
                 &:hover {transform: translate(0px,0px) scale(1.03);}
                 
                   .Contenedor-carrito {
                      text-align:map-get($map-flex,center);
                             }
                    }
           } 
   }
    
@media only screen and (min-width:680px) {
         .disenios {
             flex-direction: map-get($map-flex,row);
             flex-wrap: wrap;
               .disenios__card {
                  margin: 10px;
                  padding: 10px;
                    .imgcard {
                       width: 300px;
                       @include mixinheight;
                       &:hover {transform: translate(0px,0px) scale(1.03);}
                         .Contenedor-carrito {
                            text-align:map-get($map-flex,center);
                      }
                 }
            }
        }
   }    

