   
     .sesion {
      margin: 20px;
      padding: 20px;
          .boton {
              margin-top: 1vh;}
                   .boton--iniciar {
                      @extend .boton;
                       text-shadow: rgb(179, 59, 79);
                       color: rgb(179, 59, 79);
                       border: 1px solid black;
                       background-color: rgb(255, 255, 255);
                       text-decoration: none;}
                         .boton--aceptar {
                             @extend .boton;
                             text-shadow: green;
                             color: green;
                             background-color: rgb(255, 255, 255);
                             text-decoration: none;
                             border: 1px solid black;}
                              .boton--cancelar {
                                 @extend .boton;
                                 text-shadow: red;
                                 color: red;
                                 background-color: rgb(255, 255, 255);
                                 text-decoration: none;
                                 border: 1px solid black;
                              }
                          }
                      
      
                       
     

     
       
