$color-primario: linear-gradient(to right bottom, #ffc0cb, #febcd3, #f9b8dc, #f1b6e7, #e4b6f2);
$color-secundario: rgb(197, 102, 115);
$color-letra: rgba(90, 8, 19, 0.781);
$map-flex:(
    flex: flex,
    row: row,
    column: column,
    center: center
);